In [6]:
import pandas as pd
import numpy as np
import pickle

In [7]:
df=pd.read_csv("Balanced_Data.csv")

In [8]:
df.shape

(44366, 25)

In [9]:
df.head()

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,0,20000,2,3,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,1,120000,2,3,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,2,90000,2,3,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,3,50000,2,3,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,4,50000,1,3,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [60]:
X=df.drop('default',axis=1)

In [61]:
df.shape

(44366, 24)

In [62]:
y=df['default']

In [63]:
y.value_counts()

default
1    22183
0    22183
Name: count, dtype: int64

In [64]:
pd.set_option('display.max_columns', None)
df[df['default']==1].head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,3,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,120000,2,3,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
12,70000,1,3,2,30,1,2,2,0,0,2,65802,67369,65701,66782,36137,36894,3200,0,3000,3000,1500,0,1
15,20000,1,2,2,24,0,0,2,2,2,2,15376,18010,17428,18338,17905,19104,3200,0,1500,0,1650,0,1
20,120000,2,3,1,39,-1,-1,-1,-1,-1,-1,316,316,316,0,632,316,316,316,0,632,316,0,1

In [65]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [66]:
import xgboost as xb

In [67]:
from sklearn.ensemble import RandomForestClassifier

In [68]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [69]:
from sklearn.naive_bayes import GaussianNB

In [70]:
models={
         'Random_Forest':RandomForestClassifier(),
         'Decision Tree':DecisionTreeClassifier(),
         'SVC':SVC(),
         'AdaBoost':AdaBoostClassifier(),
          'GradientBoost':GradientBoostingClassifier(),
         'Xgboost':xb.XGBClassifier()
       
         
         



}

In [71]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        # Train model
        model.fit(X_train,y_train)

            

        # Predict Testing data
        y_test_pred =model.predict(X_test)

        # Get accuracy for test data prediction
       
        test_model_score = accuracy_score(y_test,y_test_pred)*100

        report[list(models.keys())[i]] =  test_model_score
            

            
    return report

In [72]:
from sklearn.preprocessing import StandardScaler

In [73]:
scaler=StandardScaler()

In [74]:
from sklearn.model_selection import train_test_split

In [95]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=2)

In [96]:
X_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
1198,180000,2,3,2,32,0,0,0,0,0,0,20730,17107,35884,31057,29052,25933,1582,30000,1000,1000,1000,1000
12131,210000,2,2,1,36,-2,-2,-2,-2,-2,-2,167,0,0,0,0,0,0,0,0,0,0,0
30945,180000,2,2,1,31,-1,0,0,0,0,0,1525,1915,2625,1408,2173,1771,1722,2307,610,1341,922,1504
15997,300000,2,1,2,27,0,0,0,0,0,0,105786,113850,116918,119929,122914,125910,9000,4000,4000,4000,4000,4000
39087,30000,1,3,1,44,2,2,0,0,0,0,30142,28243,28051,28336,28593,24479,0,1955,1557,2674,2674,2853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31019,113412,2,3,1,39,2,2,2,2,2,2,24227,26509,25996,28731,28535,29435,2790,204,3278,511,1515,360
30280,100000,1,2,2,33,0,0,0,0,0,0,47962,48911,49542,51049,51709,52838,1800,1474,2330,1525,2077,1611
6637,120000,2,1,1,42,-1,-1,-1,0,-1,0,2207,263,4531,1211,4015,2042,263,4531,0,4015,0,1007
35343,200000,1,2,1,47,1,1,2,1,1,1,143309,147544,145180,139496,142418,144954,7380,5313,5127,5164,4888,5118
23720,110000,2,2,1,33,2,2,2,2,2,2,24178,25270,24669,26738,27201,26723,1700,0,2700,1100,0,875

In [97]:
X_train_scaled=scaler.fit_transform(X_train)

In [98]:
X_test_scaled=scaler.transform(X_test)

In [99]:
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)

In [100]:
X_train_scaled

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0.192404,0.980088,1.077656,1.070728,-0.372275,-0.069388,0.087309,0.132304,0.193912,0.244187,0.260635,-0.405262,-0.444819,-0.151223,-0.182804,-0.179408,-0.214412,-0.228317,1.246455,-0.234463,-0.235300,-0.240250,-0.224049
1,0.434870,0.980088,-0.283700,-0.887998,0.106182,-2.070542,-1.754294,-1.723909,-1.734533,-1.738154,-1.675711,-0.689579,-0.688417,-0.677159,-0.671580,-0.663626,-0.655223,-0.338119,-0.249141,-0.302143,-0.309610,-0.317846,-0.288805
2,0.192404,0.980088,-0.283700,-0.887998,-0.491890,-1.069965,0.087309,0.132304,0.193912,0.244187,0.260635,-0.670802,-0.661148,-0.638686,-0.649421,-0.627408,-0.625119,-0.218600,-0.134129,-0.260858,-0.209960,-0.246302,-0.191412
3,1.162270,0.980088,-1.645055,1.070728,-0.970347,-0.069388,0.087309,0.132304,0.193912,0.244187,0.260635,0.770773,0.932772,1.036456,1.215866,1.385014,1.485003,0.286543,-0.049728,-0.031420,-0.012370,-0.007462,-0.029782
4,-1.019929,-1.020317,1.077656,-0.887998,1.063096,1.931766,1.928912,0.132304,0.193912,0.244187,0.260635,-0.275126,-0.286246,-0.266028,-0.225627,-0.187059,-0.239127,-0.338119,-0.151678,-0.196764,-0.110905,-0.110354,-0.104056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39924,-0.345775,0.980088,1.077656,-0.887998,0.465025,1.931766,1.928912,1.988518,2.122357,2.226529,2.196981,-0.356911,-0.310937,-0.296147,-0.219410,-0.188025,-0.154885,-0.144473,-0.238971,-0.080286,-0.271638,-0.200288,-0.265492
39925,-0.454174,-1.020317,-0.283700,1.070728,-0.252661,-0.069388,0.087309,0.132304,0.193912,0.244187,0.260635,-0.028736,0.008060,0.048956,0.131831,0.198222,0.242921,-0.213186,-0.175657,-0.144447,-0.196287,-0.156679,-0.184483
39926,-0.292529,0.980088,-1.645055,-0.887998,0.823867,-1.069965,-0.833493,-0.795802,0.193912,-0.746984,0.260635,-0.661372,-0.684672,-0.610750,-0.652521,-0.596707,-0.620513,-0.319865,-0.023256,-0.302143,-0.011256,-0.317846,-0.223596
39927,0.354048,-1.020317,-0.283700,-0.887998,1.421939,0.931189,1.008110,1.988518,1.158134,1.235358,1.228808,1.289588,1.412564,1.450680,1.523812,1.710092,1.808714,0.174104,0.015729,0.044856,0.074126,0.061443,0.042615
39928,-0.373351,0.980088,-0.283700,-0.887998,-0.252661,1.931766,1.928912,1.988518,2.122357,2.226529,2.196981,-0.357588,-0.328580,-0.315596,-0.250776,-0.210259,-0.200983,-0.220127,-0.249141,-0.119405,-0.227869,-0.317846,-0.232143

In [101]:
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [102]:
X_test_scaled

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,-0.292529,0.980088,1.077656,-0.887998,0.106182,-1.069965,-0.833493,-0.795802,0.193912,-0.746984,-0.707538,-0.687380,-0.688417,-0.667603,-0.666449,-0.658192,-0.647132,-0.338119,-0.200384,-0.302143,-0.285385,-0.280910,-0.267694
1,-0.534996,0.980088,1.077656,1.070728,-1.448804,1.931766,1.928912,1.988518,2.122357,2.226529,2.196981,-0.440686,-0.437898,-0.391473,-0.374383,-0.306779,-0.283968,-0.338119,-0.124508,-0.302143,-0.086680,-0.245681,-0.288805
2,0.434870,-1.020317,-0.283700,1.070728,0.225796,0.931189,-0.833493,-0.795802,-1.734533,-1.738154,-0.707538,-0.691888,-0.668168,-0.677159,-0.671580,-0.663626,-0.647098,-0.239422,-0.249141,-0.302143,-0.309610,-0.280755,-0.288805
3,0.919803,0.980088,1.077656,-0.887998,-1.089961,-0.069388,0.087309,0.132304,0.193912,0.244187,-0.707538,-0.376586,-0.524718,-0.497279,-0.482503,-0.487003,-0.125189,-0.234286,-0.135824,-0.165834,-0.265247,2.101751,5.060990
4,-0.292529,0.980088,1.077656,1.070728,0.584639,0.931189,-1.754294,-1.723909,-1.734533,-1.738154,-1.675711,-0.694653,-0.691265,-0.680090,-0.674727,-0.663626,-0.513119,-0.338119,-0.249141,-0.302143,-0.294748,0.330856,-0.288805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4432,-0.534996,0.980088,-0.283700,1.070728,-1.089961,-1.069965,-0.833493,-0.795802,-0.770311,-0.746984,-0.707538,-0.674964,-0.643989,-0.652067,-0.592890,-0.663626,-0.583661,-0.121014,-0.163792,0.036261,-0.309610,0.008833,-0.240238
4433,0.434870,0.980088,-0.283700,-0.887998,-1.448804,-2.070542,-1.754294,-1.723909,-0.770311,0.244187,0.260635,-0.691888,-0.688417,-0.677159,-0.209873,-0.157574,-0.122231,-0.338119,-0.249141,1.683409,-0.198145,-0.201452,-0.191671
4434,-0.050063,0.980088,-0.283700,1.070728,-0.372275,1.931766,1.928912,1.988518,0.193912,0.244187,1.228808,0.975144,1.064973,1.124542,1.277607,1.516819,1.623452,0.077629,-0.085423,-0.001099,0.381918,0.112501,0.035557
4435,1.728025,-1.020317,-0.283700,1.070728,0.106182,-0.069388,0.087309,0.132304,0.193912,0.244187,0.260635,3.423986,3.675407,3.833162,2.884806,3.198512,3.130806,0.497055,0.349845,0.173991,0.807788,0.230447,0.229241
4436,-0.858284,-1.020317,-1.645055,-0.887998,1.780782,1.931766,0.087309,0.132304,0.193912,0.244187,0.260635,-0.561420,-0.538074,-0.505399,-0.478175,-0.452901,-0.421397,-0.235535,-0.167431,-0.229928,-0.252614,-0.203547,-0.279674

In [105]:
pickle.dump(scaler,open('scaler.pkl','wb'))

In [104]:
evaluate_model(X_train_scaled,y_train,X_test_scaled,y_test,models)

{'Random_Forest': 84.76448050484562,
 'Decision Tree': 75.29862519720531,
 'SVC': 75.25354969574036,
 'AdaBoost': 74.4421906693712,
 'GradientBoost': 77.89046653144015,
 'Xgboost': 82.48816768086546}

# Gradient Boost has highest accuracy

In [38]:
from sklearn.model_selection import RandomizedSearchCV

In [39]:
gb=GradientBoostingClassifier()

In [40]:
 param_dist = {
    'learning_rate': [0.01, 0.1, 0.2],
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 4, 5],
    'subsample': [0.8, 0.9, 1.0],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2']
}

In [41]:
random_search = RandomizedSearchCV(estimator=gb, param_distributions=param_dist, n_iter=10, cv=5, scoring='accuracy', n_jobs=-1, random_state=42)

In [ ]:
random_search.fit(X_train, y_train)

In [21]:
print("Best Hyperparameters:", random_search.best_params_)

Best Hyperparameters: {'subsample': 1.0, 'n_estimators': 100, 'min_samples_split': 10, 'min_samples_leaf': 1, 'max_features': None, 'max_depth': 5, 'learning_rate': 0.1}

In [ ]:
model=GradientBoostingClassifier()

In [26]:
best_model = random_search.best_estimator_
test_accuracy = best_model.score(y_test,y_pred)
print("Test Accuracy:", test_accuracy*100)

Test Accuracy: 89.42979490646833

In [2]:
import pickle

In [28]:
 pickle.dump(best_model,open('gradientboost.pkl','wb'))

In [29]:
model=pickle.load(open('gradientboost.pkl','rb'))

In [30]:
y_pred=model.predict(X_test)

In [31]:
accuracy_score(y_test,y_pred)*100

89.42979490646833

# Random Forest Pickle

In [106]:
rf=RandomForestClassifier()

In [108]:
rf.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [111]:
y_pred=rf.predict(X_test_scaled)

In [112]:
accuracy_score(y_test,y_pred)

0.8483209375704305

In [113]:
pickle.dump(rf,open('randomforest.pkl','wb'))

In [116]:
model = pickle.load(open('randomforest.pkl', 'rb'))

In [117]:
scaler = pickle.load(open('scaler.pkl', 'rb'))

In [134]:
new_data=scaler.transform([[20000, 1, 1, 1, 24, 2, 2, 2, 2, 2, 2, 15376, 18010, 17428, 18338, 17905, 19104, 3200, 0, 1500, 0, 1650, 0]])

C:\Users\shree\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [135]:
new_data

array([[-1.10075091, -1.02031705, -1.6450549 , -0.88799758, -1.32918987,
         1.93176557,  1.92891156,  1.98851757,  2.12235675,  2.22652864,
         2.196981  , -0.47928989, -0.43196031, -0.42172459, -0.38297576,
        -0.36519825, -0.3304917 , -0.11601659, -0.24914062, -0.20062212,
        -0.30960994, -0.18981226, -0.28880452]])

In [136]:
ans=model.predict(new_data)

C:\Users\shree\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [137]:
ans[0]

1